In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv("train.csv")[["Age","Pclass","Fare","Survived"]]

In [5]:
df.head()

    Age  Pclass     Fare  Survived
0  34.5       3   7.8292         0
1  47.0       3   7.0000         1
2  62.0       2   9.6875         0
3  27.0       3   8.6625         0
4  22.0       3  12.2875         1

In [7]:
df.isnull().mean()*100

Age         20.574163
Pclass       0.000000
Fare         0.239234
Survived     0.000000
dtype: float64

In [8]:
X = df.drop(columns = ["Survived"])
Y = df["Survived"]

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, random_state = 2)

In [11]:
X_train.head()

      Age  Pclass     Fare
280  23.0       3   8.6625
284   2.0       3  20.2125
40   39.0       3  13.4167
17   21.0       3   7.2250
362  31.0       2  21.0000

In [34]:
knn = KNNImputer()

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [35]:
pd.DataFrame(X_train_trf, columns = X_train.columns)

      Age  Pclass     Fare
0    23.0     3.0   8.6625
1     2.0     3.0  20.2125
2    39.0     3.0  13.4167
3    21.0     3.0   7.2250
4    31.0     2.0  21.0000
..    ...     ...      ...
329  29.0     3.0   7.8542
330  23.0     1.0  31.6833
331  29.0     3.0   7.9250
332  24.0     2.0  27.7208
333  36.3     1.0  27.7208

[334 rows x 3 columns]

In [36]:
lr = LogisticRegression()
lr.fit(X_train_trf,Y_train)
Y_pred = lr.predict(X_test_trf)
accuracy_score(Y_test,Y_pred)

0.6547619047619048

In [40]:
#comparison with simpleImputer --> Mean
si = SimpleImputer()
X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [41]:
lr = LogisticRegression()
lr.fit(X_train_trf2,Y_train)
Y_pred = lr.predict(X_test_trf2)
accuracy_score(Y_test,Y_pred)

0.6428571428571429