In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df.sample(6)

    age  gender   review education purchased
2    70  Female     Good        PG        No
12   51    Male     Poor    School        No
17   22  Female     Poor        UG       Yes
31   22  Female     Poor    School       Yes
0    30  Female  Average    School        No
49   25  Female     Good        UG        No

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split

In [13]:

X_train,X_test,Y_train,Y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1], test_size = 0.2)

In [14]:
from sklearn.preprocessing import OrdinalEncoder