In [22]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
df = pd.read_csv("train.csv", usecols = ["Age", "Fare", "Survived"] )

In [24]:
df.head()

   Survived   Age     Fare
0         0  34.5   7.8292
1         1  47.0   7.0000
2         0  62.0   9.6875
3         0  27.0   8.6625
4         1  22.0  12.2875

In [25]:
df.isnull().mean()*100

Survived     0.000000
Age         20.574163
Fare         0.239234
dtype: float64

In [26]:
X = df.drop(columns=["Survived"])
Y = df["Survived"]

In [27]:
X_train,X_test,Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 42)

In [28]:
X_train["Age_imputed"] = X_train["Age"]
X_test["Age_imputed"] = X_test["Age"]

In [29]:
X_test.head()

      Age      Fare  Age_imputed
321  25.0    7.2292         25.0
324  39.0  211.3375         39.0
388  21.0    7.7500         21.0
56   35.0    7.8958         35.0
153  36.0   12.1833         36.0

In [30]:
# Impute missing values in X_train
X_train["Age_imputed"][X_train["Age_imputed"].isnull()] = X_train['Age'].dropna().sample(X_train["Age_imputed"].isnull().sum()).values

# Impute missing values in X_test
X_test["Age_imputed"][X_test["Age_imputed"].isnull()] = X_test['Age'].dropna().sample(X_test["Age_imputed"].isnull().sum()).values

C:\Users\Ketan\AppData\Local\Temp\ipykernel_23952\2315437127.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  X_train["Age_imputed"][X_train["Age_imputed"].isnull()] = X_train['Age'].dropna().sample(X_train["Age_imputed"].isnull().sum()).values
C:\Users\Ketan\AppData\Local\Temp\ipykernel_23952\2315437127.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  X_test["Age_imputed"][X_test["Age_imputed"].isnull()] = X_test['Age'].dropna().sample(X_test["Age_imputed"].isnull().sum()).values

In [31]:
X_test.tail()

      Age      Fare  Age_imputed
57   25.0    7.6500         25.0
126  22.0    7.7958         22.0
24   48.0  262.3750         48.0
17   21.0    7.2250         21.0
66   18.0    7.8792         18.0